{% extends "rc/common.html" %}

{% block title %}Overview{% endblock %}

{% block content %}
<p><a href="{% url 'new_project' %}">Create new project</a>.</p>
<p>Currectly {{projects_sorted|length}} projects configured.</p>

{% if projects_sorted %}
<ul>
  {% for project in projects_sorted %}
  <li>
    <a href="{% url 'project_index' project.slug %}">"{{project.project_name}}" (uploaded {{project.upload_datetime}})</a> ({{ project.clipversion_set.all|length }} versions)
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Nothing here! Create a new project, maybe?</p>
{% endif %}
{% endblock %}
